.env

AGENTS.md
project-context.md
project-pipeline.md
.venv/
__pycache__/
cache/
*.pyc

.kilo
api-documentation.md
test-case.md

nlp preprocessing/dataset-raw/README-trending-spotify.md
project-context.md
project-pipeline.md
data-cleaned-structure.md